.idea
.gradle
build
target
out
*/out/production/

.classpath
.project
.settings
eclipse
*.ipr
*.iws

**/*.AppDir/usr/
*.AppImage
*.DirIcon
releases

# Files generated during github actions
node_modules
package-lock.json
package.json

version.json